{% extends "PCPlatformBundle::layout.html.twig" %}

{% block title %}
    Oups !
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <img class="img-responsive" src="http://www.blog-humour.net/wp-content/uploads/mvbthumbs/img_41573_les-inconnus-le-pere-ducrasse-1-hq.jpg" alt="Une tarte au concombre">
                    </div>
                </div>
                <div class="col-xs-6">
                    <h1>Oups! Une erreur s'est produite.</h1>
                    <p>Le père ducrasse indique un "{{ status_code }} {{ status_text }}".<p>
                    <a href="{{path('pc_platform_homepage')}}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>  Retour</a>
                </div>
            </div>
    </div>
    </div>
{% endblock %}
