{% extends "PCPlatformBundle::layout.html.twig" %}

{% block title %}
    Oups !
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">

                        <img class="img-responsive" src="https://image.afcdn.com/recipe/20140711/24688_w397.jpg" alt="Une tarte au concombre">
                    </div>
                </div>
                <div class="col-xs-6">
                    <h1>Oups! Une erreur s'est produite.</h1>
                    <p>Peut-être cherchiez vous une recette de la fameuse <a href="http://www.marmiton.org/recettes/recette_tarte-au-concombre_61434.aspx">tarte au concombre</a> ? C'est pas bon hein...<p>

                </div>
            </div>
    </div>
    </div>
{% endblock %}
