<footer class="footer navbar-fixed-bottom" style="border: 1px solid black; background-color:#333333;">
  <div class="container">
    <div class="row" style="padding-top: 10px">
        {# référence à OpenClassRoom #}
        <div class="col-xs-8 col-sm-4">
            <div class="row">
                <p class="text-center"><strong>Projet réalisé dans le cadre du cours</strong><br><br>
                    "Développez votre site web avec le framework Symfony sur"
                    <a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony?status=published">
                        Open Class Rooms
                    </a>
                </p>
            </div>
        </div>
        {# référence au projet sur GitHub #}
        <div class="col-xs-4 col-sm-2">
            <div class="row">
                <p class="text-center">
                    <strong>Voir le projet sur GitHub</strong><br><br>
                    <a href="https://github.com/fromdanut/planificateur_course">
                        <img class="img-responsive center-block" style="height: 30px;" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" alt="Github logo">
                    </a>
                </p>
            </div>
        </div>
        {# Siter les techno utilisées #}
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <p class="text-center">
                            <strong>Technologies utilisées :</strong>
                        </p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <p class="text-center">
                            Langage : <a href="http://php.net"><img class="img-reponsive" style="height: 15px;"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1024px-PHP-logo.svg.png" alt="php_logo"></a><br>
                            Framework back-end : <a href="https://symfony.com/"><img class="img-reponsive" style="height: 15px;" src="https://symfony.com/images/v5/logos/header-logo.svg" alt="symfony_logo"></a><br>
                        </p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <p class="text-center">
                            Framework front-end : <a href="http://getbootstrap.com/"><img class="img-reponsive" style="height: 15px;" src="http://3.bp.blogspot.com/-_OfUzB5cZYc/VfsuVYmDcSI/AAAAAAAAD2Q/7cPrm2_UUbg/s1600/bootstrap2_logo.png" alt="bootsrap_logo"></a><br>
                            Theme : <a href="https://bootswatch.com/">Bootswatch</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</footer>
