{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
	{% block title %}
		Planificateur de courses
	{% endblock %}
    </title>
    {% block stylesheets %}
        <!-- bootstrap css with superhero theme from bootswatch -->
        {% stylesheets 'bundles/pcplatform/css/darkly_bootstrap.css' filter='cssrewrite, scssphp' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <!-- chosen.select css -->
        {% stylesheets 'bundles/pcplatform/css/chosen.css' filter='cssrewrite, scssphp' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <!-- main css css -->
        {% stylesheets 'bundles/pcplatform/css/main.css' filter='cssrewrite, scssphp' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    {% endblock %}
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>

        <div class="container">
            {% block nav %}
                {% include '::nav-menu.html.twig' %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block footer %}
                {% include '::footer.html.twig' %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            {# Nécessite de charger la bibliothèque bootstrap toggle pour les boutons ON/OFF #}
            <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        {% endblock %}
  </body>
</html>
