{# src/PC/PlatformBundle/Resources/views/Recipe/add.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

    <div class="row">
    <h1>Ajout d'une recette</h1>
        {{include("PCPlatformBundle:Recipe:add_form.html.twig")}}
    </div>

{% endblock %}
