{# src/PC/PlatformBundle/Resources/views/Recipe/add.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

    <div class="row">
    <h1 class="text-center">Ajout d'une recette</h1>
        {% include 'PCPlatformBundle:Default:widget_flashbag_success.html.twig' %}
        {% include 'PCPlatformBundle:Recipe:add_form.html.twig' %}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts 'bundles/pcplatform/js/recipe_add.js' filter='jsqueeze' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
