{# src/PC/PlatformBundle/Resources/views/Default/list.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_body %}

<div class="container">
    <div class="row">
    <h1>Ajout d'une recette</h1>
        {{include("PCPlatformBundle:Recipe:form.html.twig")}}
    </div>
</div>
{% endblock %}
