{# src/PC/PlatformBundle/Resources/views/Recipe/index.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

    <div class="row">
        <div class="row">
            <div class="col-xs-12">
                {% block article_title %}
                {% endblock %}
            </div>
        </div>
        <div class="col-xs-3">
            {% block left_menu %}
                {% include 'PCPlatformBundle:Recipe:index_menu.html.twig' %}
            {% endblock %}
        </div>
        <div class="col-xs-9">
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                    {% include 'PCPlatformBundle:Recipe:widget_small_recipe.html.twig' %}
                    </div>
                {% endfor %}
                {# Information s'il n'y a pas de recette #}
                {% if recipes is empty %}
                <div id="header" class="jumbotron">
                    <h1>Oups ! aucune recette ne correspond <small> Soyez moins sélectif ou bien...</small></h1>
                    <a href="{{path('pc_platform_add')}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Ecrivez une nouvelle recette !</a>
                </div>
                {% endif %}
            </div>

            {% block pagination %}
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-xs-push-3 col-sm-push-4">
                    {% include 'PCPlatformBundle:Recipe:widget_pagination.html.twig' %}
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{# JS nécessaire à l'affichage du rating des recipes #}
{% block javascripts %}
    {{parent()}}
    {% javascripts 'bundles/pcplatform/js/rating.js' filter='jsqueeze' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
