{# src/PC/PlatformBundle/Resources/views/Recipe/list.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_body %}

<div class="row">
    {% for recipe in recipes %}
        {% include 'PCPlatformBundle:Recipe:viewSmall.html.twig' %}
    {% endfor %}
</div>

<div class="row">
    <div class="col-xs-6 col-sm2">
        <a href="{{path('pc_platform_add')}}" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une recette</a>
    </div>
</div>

{% endblock %}
