{# src/PC/PlatformBundle/Resources/views/Recipe/view_menu.html.twig #}


{# SUGGESTION #}
<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading text-center">Suggestions</div>
              <div class="panel-body">
                {% for recipe in suggestions %}
                    {% include 'PCPlatformBundle:Recipe:widget_small_recipe.html.twig' %}
                {% endfor %}
             </div>
            </div>
        </div>
    </div>
</div>

{# Liste de boutons, invisible ici pour les small device #}
<div class="hidden-sm">
    <div class="well">
        {% include 'PCPlatformBundle:Recipe:widget_buttons.html.twig' %}
    </div>
</div>
