{# src/PC/PlatformBundle/Resources/views/Recipe/list.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

    <div class="col-md-4 col-lg-3 hidden-xs hidden-sm">
        {% include 'PCPlatformBundle:Recipe:view_menu.html.twig' %}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
        {% include 'PCPlatformBundle:Recipe:view_main.html.twig' %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
        {% include 'PCPlatformBundle:Recipe:view_ingredients.html.twig' %}
    </div>

    {# Le menu se retrouve en bas pour xs et sm device #}
    <div class="col-xs-12 col-sm-6 visible-xs visible-sm">
        {% include 'PCPlatformBundle:Recipe:view_menu.html.twig' %}
    </div>


{% endblock %}
