<div id="header" class="jumbotron">
    <h1>Oups ! aucune recette ne correspond à vos critères<small> Soyez moins sélectif ou bien...</small></h1>
    <a href="{{path('pc_platform_add')}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Ecrivez une nouvelle recette !</a>
</div>
