
<ul class="pagination">

    <li{% if page == 1 %} class="disabled"{% endif %}>
      <a href="{{ path('pc_platform_recipe_index', {'page': page - 1 }) }}"><</a>
    </li>

    <li class="active" >
        <a href="{{ path('pc_platform_recipe_index', {'page': page }) }}">{{page}}</a>
    </li>

    <li {% if page == nbPages %} class="disabled" {% endif %}>
      <a href="{{ path('pc_platform_recipe_index', {'page': (page + 1) }) }}">></a>
    </li>
</ul>
