{# src/PC/PlatformBundle/Resources/views/Recipe/add.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

    <div class="row">
    <h1 class="text-center">Ajout d'un ingrédient</h1>
        {% include 'PCPlatformBundle:Default:widget_flashbag_success.html.twig' %}
        {% include 'PCPlatformBundle:Ingredient:add_form.html.twig' %}
    </div>

{% endblock %}
