pc_platform_homepage:
    path:     /
    defaults: { _controller: PCPlatformBundle:Default:index }

pc_platform_recipe_index:
    path:     /recipes/
    defaults: { _controller: PCPlatformBundle:Recipe:index }

pc_platform_view:
    path:     /recipe/{id}
    defaults:
        _controller: PCPlatformBundle:Recipe:view
    requirements:
        id: \d*

pc_platform_add:
    path:     /recipe/add
    defaults: { _controller: PCPlatformBundle:Recipe:add }

pc_platform_delete:
    path:     /recipe/delete/{id}
    defaults:
        _controller: PCPlatformBundle:Recipe:delete
    requirements:
        id: \d*

pc_platform_edit:
    path:     /recipe/edit/{id}
    defaults:
        _controller: PCPlatformBundle:Recipe:edit
    requirements:
        id: \d*

pc_platform_shoppinglist_view:
    path:     /shoppingList/view/{id}
    defaults:
        _controller: PCPlatformBundle:ShoppingList:view
    requirements:
        id: \d*

pc_platform_shoppinglist_add:
    path:    /shoppingList/add/
    defaults:
        _controller: PCPlatformBundle:ShoppingList:add

pc_platform_shoppinglistoption_edit:
    path: /shoppingListOption/edit/
    defaults:
        _controller: PCPlatformBundle:ShoppingListOption:edit
