{# src/PC/PlatformBundle/Resources/views/layout.html.twig #}
{% extends "::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
                {% block pcplatform_article %}
                {% endblock %}
        </div>
    </div>

{% endblock %}
