{# src/PC/PlatformBundle/Resources/views/login.html.twig #}
{% extends "::layout.html.twig" %}

{% block nav %}
    {# Page de bienvenu pour les utilisateur sans compte, pas de menu de navigation !#}
{% endblock %}

{% block body %}
<div class="row">
    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
<div class="row">
    <div class="row well">
        <div class="col-xs-10 pull-right">
            {{ render(controller("FOSUserBundle:Security:login")) }}
        </div>
    </div>
    <div class="col-xs-12">
        <div id="header" class="jumbotron">
            <h1>Planificateur de courses</h1>
            <p>
                Ce site permet de gérer un livre de recettes, à partir desquelles on peut générer une liste de courses...
            </p>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-3">
                    <p>Pas encore de compte ? Inscrivez-vous :</p>
                    {{ render(controller("FOSUserBundle:Registration:register")) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
