{# src/PC/PlatformBundle/Resources/views/ShoppingList/add.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

<div class="well">

  {{ form(form) }}

</div>

{% endblock %}
