{# src/PC/PlatformBundle/Resources/views/ShoppingList/shopping.html.twig #}

{# 
    Vue qui liste l'ensemble des courses à faire.
#}
{# src/PC/PlatformBundle/Resources/views/Recipe/list.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}
    {% include 'PCPlatformBundle:ShoppingList:widget_ingredient_table.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div id="caddie">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Pour le rating #}
    {% javascripts 'bundles/pcplatform/js/ingredient_table.js' filter='jsqueeze' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
