{# src/PC/PlatformBundle/Resources/views/ShoppingList/view.html.twig #}

{# 
    La vu de la liste des courses reprends la vu 'index' de recipe.
    modification :
    - le title.
    - le menu (à gauche) de recherche est remplacé par la liste des ingrédients !
    - modification du bouton ("écrire une nouvelle recette" devient "ajouter un plat")

    Enfin à droite on a toujours la liste des recettes.
#}
{% embed "PCPlatformBundle:Recipe:index.html.twig" %}

    {# Ajoute un css nécessaire pour cette page #}
    {% block stylesheets %}

    {{parent()}}
    {% stylesheets 'bundles/pcplatform/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% endblock %}

    {% block article_title %}
        <h1 class="text-center">Ma shoppingList</h1>
    {% endblock %}

    {% block left_menu %}
        {% include "PCPlatformBundle:ShoppingList:view_menu.html.twig" %}
    {% endblock %}

    {# Pour effacer la pagination #}
    {% block pagination %}
    {% endblock %}

{% endembed %}
