{# src/PC/PlatformBundle/Resources/views/ShoppingList/view.html.twig #}

{# 
    La vu de la liste des courses reprends la vu 'index' de recipe.
    modification :
    - le title.
    - le menu (à gauche) de recherche est remplacé par la liste des ingrédients !
    - modification du bouton ("écrire une nouvelle recette" devient "ajouter un plat")

    Enfin à droite on a toujours la liste des recettes.
#}
{% embed "PCPlatformBundle:Recipe:index.html.twig" %}
    {% block article_title %}
        <h1 class="text-center">Liste des recettes sélectionnées pour la shoppingList</h1>
    {% endblock %}

    {% block left_menu %}
        {% include "PCPlatformBundle:ShoppingList:widget_shoppinglist.html.twig" %}
    {% endblock %}

    {% block add_button %}
        <a href="{{path('pc_platform_recipe_index')}}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign">
            </span> Ajouter une recette à ma liste
        </a>
    {% endblock %}
{% endembed %}
