{# src/PC/PlatformBundle/Resources/views/ShoppingList/view_menu.html.twig #}
<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading text-center"><strong>Liste des courses</strong></div>
                  <br>
                  <div class="panel-heading">Options</div>
                  <div class="panel-body">
                    {#
                        Permet à l'utilisateur de voir les filtres amenant à la liste de courses.
                    #}
                    {# filtre sur des attributs de type booléen. #}
                    {% if shoppingListOption.diet %}<span class="label label-success">diet</span>{% endif %}
                    {% if shoppingListOption.quick %}<span class="label label-success">quick</span>{% endif %}
                    {% if shoppingListOption.eco %}<span class="label label-success">eco</span>{% endif %}
                    {# filtre sur attributs type array #}
                    <ul class="list-inline list-unstyled">
                    {% for style in shoppingListOption.styles %}
                        <li style="margin-top: 5px;">
                            <span class="label label-default">{{style.name}} <span class="glyphicon glyphicon-tag"></span></span>
                        </li>
                    {% endfor %}
                    </ul>
                  </div>
            </div>

            {# The table with ingredients sorted by category #}
            {% include 'PCPlatformBundle:ShoppingList:widget_ingredient_table.html.twig' %}

        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            {% include 'PCPlatformBundle:ShoppingList:widget_add_recipe.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'PCPlatformBundle:ShoppingList:widget_add_shopping_list.html.twig'%}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'PCPlatformBundle:ShoppingList:widget_import_shopping_list.html.twig'%}
        </div>
    </div>
</div>
