{# src/PC/PlatformBundle/Resources/views/ShoppingList/widget_remove_from_list.html.twig #}

{# 
    vient s'ajouter à recipe/widget_small_recipe.html.twig
#}

<a href="" class="btn btn-xs btn-warning">
    <span class="glyphicon glyphicon-minus-sign">
    </span> supprimer de la liste
</a>
