<div id="header" class="jumbotron">
    <h1>Oups ! aucune recette ne correspond à vos critères<small> Soyez moins sélectif...</small></h1>
    <a href="{{path('pc_platform_shoppinglistoption_edit')}}" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span> Créer une nouvelle liste de courses
    </a>
</div>
