<a href="{{path('pc_platform_shoppinglistoption_edit')}}" class="btn btn-success btn-block" style="margin-top: 10px">
    <span class="glyphicon glyphicon- glyphicon glyphicon-list-alt">
    </span> Nouvelle liste de courses
</a>
