{# src/PC/PlatformBundle/Resources/views/ShoppingList/add.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block body %}

    <h3 class="text-center">Mes options prédéfinies pour faire la liste de courses.</h3>
    {# Informed the user if the options are modify #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert"><p>{{ flashMessage }}</p></div>
    {% endfor %}
    {{form(form)}}



{% endblock %}
