{# src/PC/PlatformBundle/Resources/views/ShoppingList/edit.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-xs-6 col-xs-push-3">
        {% include 'PCPlatformBundle:Default:widget_flashbag_success.html.twig' %}
        <h3 class="text-center">Mes options pour faire la liste de courses.</h3>
        {% include 'PCPlatformBundle:ShoppingListOption:edit_form.html.twig' %}
    </div>
</div>
{% endblock %}

{# JS nécessaire à l'affichage du rating des recipes #}
{% block javascripts %}
    {{parent()}}
    {% javascripts 'bundles/pcplatform/js/rating.js' filter='jsqueeze' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
