h1 {
    color: #df691a;
    text-align: center;
}

/*
    pour le rendu de src/PC/PlatformBundle/Resources/views/ShoppingList/view_shoppinglist.html.twig
*/
.label-as-badge {
    border-radius: 1em;
}

.smallRecipeLink {
    text-decoration: none;
    color:#000000 !important;
}

.row .smallRecipeContainer {
    background-color:#485563;
    padding:10px
}

.img-smallRecipe-md {
    width: 100%;
    height: 120px;
    display: block;
}

.img-smallRecipe {
    width: 100%;
    height: 120px;
    display: block;
}
/* Add a default img, in case the url of the img is broken */
.recipe-default-img {
    background-image: url('../images/default_recipe_img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.small-view-info {
    padding: 0px 10px 0px 0px;
}

/*
    Pour le lors de la selection des ingrédients dans shoppingList_shopping
    cf ingredient_table.js
*/
.selected-ingredient-table-row {
    background-color: blue;
}

.ingredient-caddie {
    margin: 3px;
}

/* Enlève le pointeur text */
span .ingredient-caddie:hover,  {
    pointer-events: none;
}

#caddie {
    margin: 30px;
    padding: 30px;
    border: solid 1px black;
    background-color: grey;
}

#ingredient-black-box {
    display: none;
}
