/*
    pour le rendu de src/PC/PlatformBundle/Resources/views/ShoppingList/view_shoppinglist.html.twig
*/
.label-as-badge {
    border-radius: 1em;
}

.smallRecipeLink {
    text-decoration: none;
    color:#000000 !important;
}

.row .smallRecipeContainer {
    background-color:#485563;
    padding:10px
}

.img-smallRecipe-md {
    width: 100%;
    height: 120px;
    display: block;
}

.img-smallRecipe {
    width: 100%;
    height: 120px;
    display: block;
}
/* Add a default img, in case the url of the img is broken */
.recipe-default-img {
    background-image: url('../images/default_recipe_img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
