/*
    pour le rendu de src/PC/PlatformBundle/Resources/views/ShoppingList/view_shoppinglist.html.twig
*/
.label-as-badge {
    border-radius: 1em;
}

.smallRecipeLink {
    text-decoration: none;
    color:#000000 !important;
}

.row .smallRecipeContainer {
    background-color:#485563;
    padding:10px
}
