{# src/PC/PlatformBundle/Resources/views/Default/home.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}
<div class="row">
    <div class="col-xs-12">
        <div id="header" class="jumbotron">
            <h1>Content de vous revoir {{ app.user.username }} !</h1>
            <p>Découvrez les dernières recettes ajoutées...</p>
            <div class="row">
                {% for recipe in suggestions %}
                <div class="col-xs-4">
                    {% include 'PCPlatformBundle:Recipe:widget_small_recipe.html.twig' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
