{# src/PC/PlatformBundle/Resources/views/Default/home.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}
<div class="row">
    <div class="col-xs-12">
        {% include 'PCPlatformBundle:Default:widget_flashbag_success.html.twig' %}
        <div id="header" class="jumbotron">
            <h1 class="text-center">Content de vous revoir <strong>{{ app.user.username }}</strong> !
                <small>Découvrez les différentes fonctionnalités du site</small>
            </h1>
            <div class="row">
                <div class="col-xs-8 col-xs-push-2">
                    {% include 'PCPlatformBundle:Default:widget_carrousel.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
