{# src/PC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

<div class="container">
  <div id="header" class="jumbotron">
    <h1>Bonjour {{ app.user.username }}</h1>
    <p>
        Heureux de vous revoir...
    </p>
    <br>
  </div>
</div>

{% endblock %}
