{# src/PC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

<div class="container">
  <div id="header" class="jumbotron">
    <h1>Planificateur de courses<small> à partir de vos recettes !</small></h1>
    <p>
        Ce site permet de gérer un livre de recettes, à partir desquelles on peut générer des listes de courses...
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#">
        Comment ca marche ?
      </a>
    </p>
  </div>
</div>

{% endblock %}
