{# Informed the user if the options are modify #}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success" role="alert"><p>{{ flashMessage }}</p></div>
{% endfor %}
